/* Font Family Variables */

$font-family-serif:  Georgia, 'serif';
$font-family-serif-2: 'FreightTextW01', Georgia, 'serif';
$font-family-sserif: 'NewsGothicNo2W01', Helvetica, Arial, 'sans-serif';
$font-family-sserif-2: Helvetica, Arial, sans-serif;
$font-family-sourceSans: 'Source Sans';
$font-family-sourceSansLight: 'Source Sans-Light';