.cursor-pointer {
    cursor: pointer;
}

.blue-text {
    color: #387AEB;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow: auto;
}

.animate {
    transition: ease all 0.2s;
}

.no-outline{
    outline: none;
}

.no-shadow {
    box-shadow: none;
}
